.comCardBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pjttxt {
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
  font-weight: bold;
  font-family: "preLt";
  font-size: large;
}
