.ComProjectContainer {

}

.comCardBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pjttxt {
  font-family: "preBd";
  font-size: 24px;
  color: #575757;
}

.ComProjectSwiper {
  border: 1px solid black;
  height: 30vh;
  margin-top: 10px;
}