.modalOverlay {
  display: flex;
  position: fixed;
  border: 3px dotted #39a789;
  padding: 20px;
  right: 0;
  bottom: 0;
  top: 54%;
  left: 46%;
  background-color: rgb(250, 250, 250);
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 50vw;
  height: 60vh;
  z-index: 9999;
  color: #575757;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.closebtn {
  position: fixed;
  top: 20px;
  right: 2%;
  border: 0;
  background-color: transparent;
  font-size: 18px;
}

.deletebtn {
  position: fixed;
  bottom: 3%;
  right: 3%;
  border: 0;
  background-color: red;
  font-family: preRg;
}

.ProjectMemberContainer {
  display: flex;
  /* margin-left: 10px; */
  /* overflow: scroll; */
}

.projectModalContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.projectModalContentTitle {
  font-family: "preBd";
  font-size: 18px;
}
