.MemberItemContainer {
  display: flex;
  align-items: center;
  border: 1px solid #E5E8EB;
  border-radius: 20px;
  min-height: 60px;
  padding: 6px 4px;
  margin-top: 10px;
  cursor: grab;
}

.MemberItemAvatar {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin-right: 10px;
}