.keywordsContainer {
  display: flex;
  justify-content: center;
  height: 24px;
  align-items: center;
  padding: 4px 20px;
  margin: 0px 10px 6px 0px;
  background-color: #ffffff;
  border-radius: 18px;
  font-size: 16px;
  font-family: 'preRg';
  letter-spacing: 1.4px;
}