.ProfileInfoContainer {
  display: flex;
  flex-direction: column;
  width: 29.5vw;
  height: 81vh;
  padding: 2vh 2vw;
  margin-left: 1vw;
  background-color: #ffffff;
  border: 1px solid #E5E8EB;
  border-radius: 20px;
}

.ProfileInfoHeader {
  display: flex;
  align-items: flex-end;
  height: 50px;
}

.AvatarCustomTitle {
  font-size: 30px;
  font-family: 'preBl';
  color: #575757;
}

.ProfileInfoBody {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 76vh;
}

.ProfileInfoSkillSelector {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-top: 10px;
  width: 100%;
  height: 180px;
  overflow: scroll;
  margin-bottom: 5px;
}

.ProfileInfoSkillSelector::-webkit-scrollbar {
  display: none;
}

.ProfileSkillIcon {
  cursor: pointer;
  height: 32px;
  margin-right: 4px;
  margin-bottom: 4px;
}