.AvatarCustomTitle {
  font-size: 30px;
  font-family: 'preBl';
  color: #575757;
}

.AvatarCustomContainer {
  display: flex;
  flex-direction: column;
  width: 50.5vw;
  height: 81vh;
  padding: 2vh 2vw;
  background-color: #ffffff;
  border: 1px solid #E5E8EB;
  border-radius: 20px;
}

.AvatarCustomBody {
  display: flex;
  justify-content: space-around;
  height: 76vh;
}

.AvatarCustomBodyLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 76vh;
}

.exampleColor {
  width: 50px;
  height: 50px;
  margin-bottom: 14px;
  border: 1px solid #E5E8EB;
  border-radius: 40px;
  cursor: pointer;
}

.AvatarCustomBodyCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 76vh;
}

.profilePreview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 200%;
}

.AvatarCustomBodyRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 76vh;
}

.profileImgSelector {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  height: 400px;
  margin-top: 50px;
  border-radius: 20px;
}

.profileImgSelectorButtons {
  display: flex;
  justify-content: center;
  width: 400px;
  margin-bottom: 10px;
}

.profileImgSelectorRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 410px;
}

.profileSelectItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-right: 1px;
  border-radius: 100px;
}

.profileSelectItem:hover {
  cursor: pointer;
}

.profileImgSelectorRow {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  height: 86px;
  width: 430px;
}

