.profileSettingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #E5E8EB;
  width: 75vw;
  height: 81vh;
  padding: 2vh 2vw;
}

.profileImgSetting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profilePreview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 200%;
}

.profileImgSelector {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 20px;
  width: 400px;
  height: 75vh;
  border-radius: 20px;
}

.profileImgSelectorButtons {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
}

.profileImgSelectorRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 410px;
}

.profileSelectItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

.profileSelectItem:hover {
  cursor: pointer;
}

.profileColorPicker {
  display: flex;
  width: 364px;
  justify-content: space-between;
}

.exampleColor {
  width: 60px;
  height: 60px;
  border: 1px solid #E5E8EB;
  border-radius: 40px;
  cursor: pointer;
}

.profileImgSelectorRow {
  display: flex;
  justify-content: space-between;
  width: 392px;
  padding-right: 8px;
}

.MuiCollapse-entered {
  border: 1px solid blue;
}