.profileimg {
  margin: 10% 0 0 0;
  /* padding-left: auto; */
}

.leftcontainer {
  width: 240px;
  /* background-color: rgb(206, 131, 32); */
  /* border: 1px solid black; */
  height: 100vh;

  margin: 0;
  /* padding: 1%; */
}

.profilename {
  margin: 10px 0 10px 0;
  text-align: center;
  /* padding: 0; */
}

.iconbox {
  width: 24px;
}
