.profileimg {
  margin: 10% 0 0 0;
  /* padding-left: auto; */
  border-right: 1px solid #39a789;
  border-bottom: 1px solid #39a789;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 10px 0 rgba(131, 131, 131, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /* padding-bottom: 5px;
  margin-bottom: 15px; */
  &:hover {
    box-shadow: -2px -2px 5px white, 2px 2px 5px #babecc;
    border-left: 1px solid #39a789;
    border-top: 1px solid #39a789;
    border-right: none;
    border-bottom: none;
  }
}

.leftcontainer {
  width: 240px;
  /* background-color: rgb(206, 131, 32); */
  /* border: 1px solid black; */
  height: 100vh;

  margin: 0;
  /* padding: 1%; */
}

.profilename {
  margin: 10px 0 10px 0;
  text-align: center;
  /* padding: 0; */
}

.iconbox {
  width: 24px;
}

.box {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 10px 0 rgba(131, 131, 131, 0.37);
  backdrop-filter: blur(7px);
  border-right: 1px solid #39a789;
  border-bottom: 1px solid #39a789;
  -webkit-backdrop-filter: blur(7px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: -2px -2px 5px white, 2px 2px 5px #babecc;
    border-left: 1px solid #39a789;
    border-top: 1px solid #39a789;
    border-right: none;
    border-bottom: none;
  }
}
