.messageItemContainer {
  display: flex;
  align-items: flex-start;
  width: 30vw;
  min-height: 7vh;
  margin-top: 8px;
  /* border: 1px solid purple; */
}

.messageItemBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30vw;
  min-height: 7vh;
  margin-left: 10px;
}

.messageItemName {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #7b7b7b;
  /* border: 1px solid red; */
}

.messageProfileName {
  font-size: 14px;
}

.messageTime {
  margin-left: 6px;
  font-size: 12px;
}

.messageItemText {
  display: flex;
  font-size: 16px;
  color: #575757;
}

.videoThumbnail {
  border-radius: 15px;
}

.fileThumbnail {
  display: flex;
  /* flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 19.8vw;
  height: 100px;
  margin: 0vw 0 10px 0px; */
  border-radius: 10px;
  color: #575757;
  border: 1px solid #e5e8ebd0;;
  background-color: #ffffff;
  margin-top: 5px;
}

.messageItemProfile {
  margin-top: -3px;
}