.messageItemContainer {
  display: flex;
  align-items: flex-end;
  width: 30vw;
  min-height: 7vh;
  margin-top: 8px;
  /* border: 1px solid purple; */
}

.messageItemBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30vw;
  height: 7vh;
  margin-left: 10px;
}

.messageItemName {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #7b7b7b;
  /* border: 1px solid red; */
}

.messageProfileName {
  font-size: 14px;
}

.messageTime {
  margin-left: 6px;
  font-size: 12px;
}

.messageItemText {
  display: flex;
  font-size: 16px;
  color: #575757;
}
