.messageContainer {
  display: flex;
  padding: 2vh 2vw 0 2vw;
  width: 54vw;
  height: 81vh;
  border: 1px solid #E5E8EB;
  border-radius: 20px;
  font-family: 'preRg';
  background-color: #ffffff;
}

.messageLeft {
  display: flex;
  flex-direction: column;
  width: 28vw;
  border-right: 1px solid #E5E8EB;
  /* border: 1px solid red; */
}



.messageLeftHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 26vw;
  height: 60px;
  color: #575757;
  /* border: 1px solid purple; */
}

.messageLeftHeaderLeft {
  display: flex;
  align-items: center;
}


.messageLeftTitle {
  font-size: 34px;
  font-family: "preBl";
}

.messageLeftBody {
  margin-left: -14px;
  height: 672px;
  overflow: scroll;
  /* border: 1px solid purple; */
}

.messageLeftBody::-webkit-scrollbar {
  display: none;
}

.messagePeopleNum {
  font-size: 16px;
  margin-left: 6px;
}

.messageLeftNotification {
  display: flex;
  align-items: center;
  height: 40px;
  color: #575757;
  /* border: 1px solid purple; */
}

.notificationText {
  font-size: 100%;
  font-family: "preLt";
  margin-left: 10px;
}

.messageLeftFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100px;
  padding-bottom: 2vh;
  /* border: 1px solid purple; */
}

.messageLeftFooter button {
  min-width: 50px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 30px;
}

.messageInput {
  margin: 0px 10px;
  width: 26vw;
  font-size: 18px;
}

.messageFooterButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 26vw;
  height: 40px;
}

.messageFooterButtonLeft {
  display: flex;
  align-items: center;
}

.messageSendButton {
  width: 20px;
}

.messageSendButton span{
  margin: 0px;
}

.messageRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;
  /* border: 1px solid red; */
}

.messageRightTabContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 20vw;
  height: 19vh;
  padding-left: 4%;
}