.MessageRightBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 14px;
  padding-left: 20px;
  width: 28vw;
  height: 700px;
  /* border: 1px solid blue; */
}

.MessageRightBodyTitle {
  color: #575757;
  font-size: 24px;
  font-family: 'preBd';
}

.MessageRightMediaStorage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 28%;
  margin-top: 10px;
  border-bottom: 1px solid #E5E8EB;
}


.MediaStorageTitle {
  font-size: 120%;
}

.MediaContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70%
  /* border: 1px solid red; */
}

.photoThumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 90%;
  margin: 1vw 1vw 10px 0px;
  border-radius: 10px;
  background-color: #E5E8EB;
  font-size: 80%;
}

.MessageFileStorage {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.fileThumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 218px;
  height: 120px;
  margin: 20px 20px 0px 0px;
  border-radius: 10px;
  color: #575757;
  border: 1px solid #E5E8EB;;
  background-color: #ffffff;
}

.fileThumbnailHeader {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.fileName {
  margin-left: 4px;
}
