.MessageRightBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  width: 21.3vw;
  height: 700px;
  /* border: 1px solid blue; */
}

.MessageRightBodyTitle {
  color: #575757;
  font-size: 24px;
  font-family: 'preBd';
}

.MessageRightMediaStorage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 24vh;
  margin-top: 10px;
  border-bottom: 1px solid #E5E8EB;
  overflow: scroll;
}

.MessageRightMediaStorage::-webkit-scrollbar {
  display: none;
}


.MediaStorageTitle {
  font-size: 110%;
}

.MediaContainer {
  display: flex;
  flex-wrap: nowrap;
  height: 24vh;
}

.photoThumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 16vw; */
  height: 20vh;
  margin: 0 1vw 10px 0px;
  border-radius: 10px;
  border: 1px dashed grey;
  /* background-color: #E5E8EB; */
  font-size: 80%;
}

/* .photoThumbnail:hover {
  transition: 0.3s;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.178);
  z-index: 0;
} */

.imgContainer {
  position: relative;
}

.hoverOverlay {
  position: absolute;
  top: 0;
  left: 0;
   width:calc(100% - 1vw);
   margin: 0 1vw 10px 0px;
   height:20.1vh;
   background-color: rgba(0, 0, 0, 0.689);
   opacity:0;
   transition:.3s ease-in-out;
   border-radius: 10px;
}

.imgContainer:hover .hoverOverlay{
    opacity:1;
}

.downButton {
  z-index: 100;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
  justify-content: center;
  margin: auto;
  padding-top: 7.5vh;
  cursor: pointer;
}

.MessageFileStorage {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.noPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  color: grey;
  width: 20vw;
}

.videoThumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin: 0 1vw 10px 0px;
  border-radius: 10px;
  font-size: 80%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  overflow: auto;
}
