.css-19kzrtu {
  padding: 10px 0 !important;
  width: 100%;
}

.MuiAutocomplete-hasPopupIcon.css-6wpwgx-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-6wpwgx-MuiAutocomplete-root .MuiOutlinedInput-root {
  height: 40px;
  background-color: #fff;
    /* color: rgba(0, 0, 0, 0.87); */
    /* -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    border-radius: 4px;
    border-top: none;
    /* box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12); */
    /* padding: 2px 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 35px;
    width: 45%; */
}

.MuiInputBase-input .MuiOutlinedInput-input .MuiInputBase-inputAdornedEnd .MuiAutocomplete-input .MuiAutocomplete-inputFocused .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  margin: 0;
  padding: 0;
  margin-top: -5px
}