.modalOverlay {
  border: 0.7px solid #dfdfdf;
  position: fixed;
  display: flex;
  right: 0;
  bottom: 0;
  top: 50%;
  left: 56.5%;
  background-color: rgb(250, 250, 250);
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 79vw;
  height: 85vh;
  z-index: 9999;
}

.modalContent {
  display: flex;
  padding: 20px;
  color: #575757;
}

.deContainer {
  display: flex;
  flex-direction: column;
  width: 490px;
  height: 60%;
}

.deContentContainer {
  height: 260px;
}

.errImageScrollContainer {
  display: flex;
  width: 490px;
  height: 100px;
  overflow: scroll;
}

.errImageContainer {
  display: flex;
  flex-wrap: nowrap;
}

.reContainer {
  display: flex;
  flex-direction: column;
  width: 490px;
  height: 30%;
}

.rep {
  display: flex;
}

.closebtn {
  position: fixed;
  top: 2%;
  right: 2%;
  border: 0;
  background-color: transparent;
}

.deletebtn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  border: 0;
  background-color: red;
  font-family: preRg;
}

.status {
  margin: 3px 0;
  font-family: "preRg";
  width: 45px;
  color: #39a789;
  text-align: center;
  border: 1px solid #39a789;
  border-radius: 10px;
}
