.modalOverlay {
  border: 0.7px solid #E5E8EB;
  position: fixed;
  display: flex;
  right: 0;
  bottom: 0;
  top: 50%;
  left: 56.5%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 79vw;
  height: 85vh;
  z-index: 9999;
}

.modalContent {
  display: flex;
  padding: 20px;
  color: #575757;
  font-size: 16px;
}

.deContainer {
  display: flex;
  flex-direction: column;
  width: 660px;
  height: 560px;
  margin-right: 50px;
}

.deContentContainer {
  margin-left: 28px;
  margin-bottom: 10px;
  /* height: 180px; */
}

.deContainerHeader {
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.errImageScrollContainer {
  display: flex;
  margin-left: 28px;
  width: 660px;
  height: 290px;
  min-height: 190px;
  overflow: scroll;
}

.errImageContainer {
  display: flex;
  height: 290px;
  flex-wrap: nowrap;
}

.replyContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 560px;
}

.replyScrollContainer {
  height: 500px;
  overflow: scroll;
}

.replyItemContainer {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 10px;
  height: 44px;
  margin-top: 10px;
  position: relative;
}

.replyRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.repliesRightContent {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  font-family: 'preRg';
}

.closebtn {
  position: fixed;
  top: 2%;
  right: 2%;
  border: 0;
  background-color: transparent;
}

.deletebtn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  border: 0;
  background-color: red;
  font-family: preRg;
}

.statusCompleted {
  margin: 6px 10px;
  font-family: "preBd";
  width: 50px;
  height: 24px;
  color: #39a789;
  text-align: center;
  border: 2px solid #39a789;
  border-radius: 10px;
}

.statusIncomplete {
  margin: 6px 10px;
  font-family: "preBd";
  width: 50px;
  height: 24px;
  color: #f02a2a;
  text-align: center;
  border: 2px solid #f02a2a;
  border-radius: 10px;
}

.downButton {
  z-index: 100;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.errImageItem {
  position: relative;
}

.hoverOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
   width:calc(100% - 16px);
   height: 280px;
   background-color: rgba(0, 0, 0, 0.689);
   opacity:0;
   transition:.3s ease-in-out;
   border-radius: 10px;
}

.errImageItem:hover .hoverOverlay{
    opacity:1;
}

.replyLeft {
  margin-top: -3px;
}