.profileHeader {
  display: flex;
  align-items: center;
  color: #575757;
  font-family: "preRg";
}

.profileHeaderDesc {
  display: flex;
  justify-content: space-between;
  margin-left: -120px;
  padding: 16px 20px 20px 150px;
  width: 67vw;
  height: 27vh;
  border: 1px solid #e5e8eb;
  border-radius: 30px;
}

.profileHeaderLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 336px;
}

.profileName {
  font-size: 30px;
  font-family: "preBd";
}

.profilePos {
  font-size: 17px;
  color: #acacac;
}

.profileCareer {
  display: flex;
  flex-direction: column;
}

.career {
  border: 2px solid #39a789;
  border-radius: 10px;
  text-align: center;
  display: flex;
  margin: 0 3px 3px 0;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  font-family: "preRg";
  color: #39a789;
  font-size: 14px;
}

.profileCareerItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 6px;
  /* border: 1px solid blue; */
}

.profileIntroItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 6px;
  margin-left: 3px;
  /* border: 1px solid blue; */
}

.profileCareerIt .profileHeaderRight {
  display: flex;
  width: 420px;
  height: 100%;
  /* border: 1px solid blue; */
}

.profileRadarContainer {
  margin-left: -80px;
  width: 300px;
  height: 100%;
}

.profileBarContainer {
  margin-top: 14px;
  margin-left: -30px;
  width: 230px;
  height: 100%;
}

.profileBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  /* border: 1px solid blue; */
}

.AchievementContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
  height: 260px;
  /* border: 1px solid blue; */
}

.profileBodyTitle {
  padding-left: 20px;
}

.progressBar {
  margin-top: -4px;
  padding-left: 20px;
}

.profileTag {
  color: #898989;
}

.profileSettingButton:hover {
  cursor: pointer;
}

.AchievementItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 78px;
  height: 78px;
  margin: 0px 14px 14px 0px;
}

.AchievementItemDesc {
  border-radius: 100px;
  position: absolute;
  left: 33px;
  transition-duration: 0.3s;
  transition-property: width, transform;
  transition-timing-function: ease-in-out;
}

.AchievementItem {
  transition-duration: 0.3s;
  transition-delay: 0.2s;
  transition-property: width, transform;
  transition-timing-function: ease-in-out;
}

.AchievementItemCount {
  position: absolute;
  top: 30px;
  left: 28px;
  opacity: 0;
  z-index: 100;
  color: #575757;
  overflow: auto;
  width: 43px;
}

.AchievementItemContainer:hover > .AchievementItem {
  transition: 0.3s ease-in-out;
  transform: scaleX(0);
}

.AchievementItemContainer:hover > .AchievementItemDesc {
  width: 78px;
  transform: translateX(-32px);
  transition-duration: 0.3s;
  transition-delay: 0.2s;
  transition-property: width, transform;
  transition-timing-function: ease-in-out;
}

.AchievementItemContainer:hover > .AchievementItemCount {
  opacity: 1;
  transition-duration: 0.3s;
  transition-delay: 0.5s;
  transition-property: opacity;
}

.black {
  /* filter: blur(5px); */
  filter: grayscale(80%) sepia(0.2);
}
