.modalOverlay {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: 0.3s;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #39a789;
  border-radius: 20px;
  width: 30vw;
  height: 40vh;
  z-index: 9999;
}

.modalBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.modalContent {
  display: flex;
  flex-direction: column;
}
.closebtn {
  position: fixed;
  top: 2%;
  right: 2%;
  border: 0;
  background-color: transparent;
}

.deletebtn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  border: 0;
  background-color: red;
  font-family: preRg;
}

.savebtn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  border: 0;
  background-color: rgb(57, 167, 137);
  font-family: preRg;
}

.inputTag:focus {
  outline: none;
}