.indivDiv {
  width: 23vw;
  height: 77vh;
  padding: 0 10px 0px 10px;
  margin: 0;
  overflow: scroll;
}

.indivDiv::-webkit-scrollbar {
  width: 7px;  /* 스크롤바의 너비 */
}

.indivDiv::-webkit-scrollbar-thumb {
  height: 5%; /* 스크롤바의 길이 */
  background: #ababab; /* 스크롤바의 색상 */
  border-radius: 10px;
  opacity: 0.2
}
.indivDiv::-webkit-scrollbar-track {
  background: none;  /*스크롤바 뒷 배경 색상*/
}


.indivTask {
  /* width: 380px;
  max-width: 380px;
  min-height: 100px;
  border-radius: 20px;
  background-color: white; */
  min-height: 40px;
  overflow:hidden;
  word-wrap:break-word;
  padding: 6px 10px;

  display: flex;
  justify-content: start;

  
}

.oneMemo {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  
  &:hover {
    box-shadow: -2px -2px 5px white, 2px 2px 5px #BABECC
  }
    
  /* &:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px white;
  } */
  
}

.taskContent {
  width: 320px;
  max-width: 320px;
  text-align: start;
  margin-bottom: 0;
  font-family: 'preBd';
  margin-right: 8px;
  margin-bottom:20px
}

.test {
  max-width: 370px;
  width: 370px;
  min-height: 100px;
  border-radius: 20px;
  background-color: rgb(254, 186, 186);
  margin-bottom: 10px;
}

.checked {
  text-decoration: line-through;
  /* text-decoration-style: wavy; */
  text-decoration-color: #39A789;
  text-decoration-thickness: 2px;
}