body {
  margin: 0;
  font-family: "preRg" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

.body::-webkit-scrollbar {
  width: 7px;  /* 스크롤바의 너비 */
}

.body::-webkit-scrollbar-thumb {
  height: 5%; /* 스크롤바의 길이 */
  background: #ababab; /* 스크롤바의 색상 */
  border-radius: 10px;
  opacity: 0.2
}
.body::-webkit-scrollbar-track {
  background: none;  /*스크롤바 뒷 배경 색상*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* pretendard 폰트 */
@font-face {
  font-family: "preLt";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  /* font-weight: 100; */
  font-style: normal;
}
@font-face {
  font-family: "preRg";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "preBd";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  /* font-weight: 700; */
  font-style: normal;
}
@font-face {
  font-family: "preBl";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  /* font-weight: 700; */
  font-style: normal;
}

body {
  margin: 0;
  background-color: #f8f8f8;
  font-family: "preRg";

}

.react-flow__node-mindmap {
  background: #39a789;
  border-radius: 14px;
  border: 1px solid transparent;
  padding: 2px 5px;
  font-weight: 700;
  font-family: "preBd";
  margin-right: 0;
  padding-right: 0;
}

.react-flow__handle.target {
  top: 50%;
  pointer-events: none;
  opacity: 0;
}

.react-flow__handle.source {
  top: 0;
  left: 0;
  transform: none;
  background-color: #39a78a00;
  height: 100%;
  width: 100%;
  border: none;
  font-family: "preBd" !important;
}

.react-flow .react-flow__connectionline {
  z-index: 0;
}

.inputWrapper {
  display: flex;
  height: 20px;
  z-index: 1;
  position: relative;
  pointer-events: none;
  font-family: "preBd";
}

.dragHandle {
  background: transparent;
  width: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: all;
}

.deleteBtn {
  background: transparent;
  width: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  padding: 4px;
}

.inputWrapper .input {
  border: none;
  margin-right: 0;
  padding: 2px;
  min-width: 50px;
  pointer-events: none;
  font-weight: 600;
  font-size: 10px;
  font-family: "preBd";
  background: transparent;
  color: #ffffff;
}

.input:focus {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.25);
  pointer-events: all;
}

.header {
  font-family: "preRg";
}

.react-flow__attribution {
  display: none !important;
}

:where(.css-1vr7spz).ant-modal .ant-modal-title {
  font-size: 20px;
}