.MemberInviteContainer {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 270px;
}

.MembersContainer {
  width: 280px;
  height: 270px;
  border: 1px solid blue;
}

.MemberListContainer {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 248px;
  border: 1px solid purple;
  overflow: scroll;
}

.MemberListContainer::-webkit-scrollbar {
  display: none;
}

.InvitedMembersContainer {
  width: 280px;
  height: 270px;
  border: 1px solid purple;
}

.InvitedMemberListContainer {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 270px;
  border: 1px solid purple;
  overflow: scroll;
}

.InvitedMemberListContainer::-webkit-scrollbar {
  display: none;
}